<form action="" method="POST"enctype="multipart/form-data">
    {% csrf_token %}
  <table align='center'>
  <style>
    h1{
        color: navy;
        font-family: cursive
      }
  </style>  
 
    <body background="../static/img1.jpg">   
    <tr><td align='center'><h1>MAIN CATEGORY</h1></td></tr>
   
    <tr>
    <td align='center'><b>Category Name</b></td>
    <td><input type="text" name="cname" required></td>
    </tr>


    <tr>
        <td align='center'> <button type="submit">Login</button></td>
    </tr>
    </body>
    </table>
    </form>
         